{% extends "base.html" %}
{% block content %}
<h1>Siirto lista <a href="{{base_path}}/move/new" class="btn btn-success">Lisää siirto tietokantaan</a></h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tyyppi</th>
        </tr>
    </thead>

    <tbody>
        {% for move in moves %}
        <tr>
            <td><a href="{{base_path}}/move/{{move.id}}">{{move.name}}</a></td>
             <td>{{move.mtype}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
