{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{move.name}}
{{forms.edit_button("#{base_path}/move/#{move.id}/edit")}}
{{forms.destroy_button("#{base_path}/move/#{move.id}/destroy")}}
</h1>
<p><strong>Ominaisuudet:</strong></p>
<ul>
    <li><strong>Tyyppi:</strong> {{move.mtype}}</li>
    <li><strong>Kategoria:</strong> {{move.mcat}}</li>
    <li><strong>PP:</strong> {{move.pp}}</li>
    <li><strong>Power:</strong> {{move.power}}</li>
    <li><strong>Tarkkuus:</strong> {{move.accuracy}}</li>
</ul>
<p> <strong>Kuvaus:</strong> </p>
<p>
    {{move.description}}
</p>
{% endblock %}

