{% extends "base.html" %}
{% block content %}
<h1>Muokkaa pokemonia Sähkörotta (Pikachu)</h1>

<form>
    <div class="form-group">
        <label>Lempinimi</label>
        <input type="text" class="form-control" value="Sähkörotta">
    </div>
    <div class="form-group">
        <label>Level</label>
        <input type="text" class="form-control" value="5">
    </div>
    <div class="form-group">
        <label>HP</label>
        <input type="text" class="form-control" value="35">
    </div>
    <div class="form-group">
        <label>Attack</label>
        <input type="text" class="form-control" value="55">
    </div>
    <div class="form-group">
        <label>Defense</label>
        <input type="text" class="form-control" value="40">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
