{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän {{user_logged_in.name}} pokemonit
<a href="{{base_path}}/pokemon" class="btn btn-success">Lisää pokemoneja</a>
</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Lempinimi</th>
            <th>Pokemon</th>
            <th>Lisäyspäivä</th>
        </tr>
    </thead>

    <tbody>
        {% for own in owned %}
        <tr>
            <td>{{own.nickname}}</td>
            <td><a href="{{base_path}}/owned/{{own.id}}">{{own.name}}</a></td>
            <td>{{own.added}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
