{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if owned.nickname is empty %}
<h1><a href="{{base_path}}/pokemon/{{owned.pokemon_id}}">{{owned.name}}</a>
{{forms.edit_button("#{base_path}/owned/#{owned.id}/edit")}}
{{forms.destroy_button("#{base_path}/owned/#{owned.id}/destroy")}}
</h1>
{% else %}
<h1>{{owned.nickname}}
{{forms.edit_button("#{base_path}/owned/#{owned.id}/edit")}}
{{forms.destroy_button("#{base_path}/owned/#{owned.id}/destroy")}}
</h1>
<a href="{{base_path}}/pokemon/{{owned.pokemon_id}}"><strong>{{owned.name}}</strong></a>
{% endif %}
<p><strong>Ominaisuudet:</strong></p>
<ul>
    <li><strong>Tyyppi:</strong> {{owned.ptype}}</li>
    <li><strong>HP:</strong> {{owned.ohp}}</li>
    <li><strong>Attack:</strong> {{owned.oattack}}</li>
    <li><strong>Defense:</strong> {{owned.odefense}}</li>
    <li><strong>Special Attack:</strong> {{owned.ospattack}}</li>
    <li><strong>Special Defense:</strong> {{owned.ospdefense}}</li>
    <li><strong>Speed:</strong> {{owned.ospeed}}</li>
</ul>

<p> <strong>Kuvaus:</strong> </p>

<p>
    {{owned.description}}
</p>
{% endblock %}
