{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän {{user_logged_in.name}} pokemonit
<a href="{{base_path}}/pokemon" class="btn btn-success">Lisää pokemoneja</a>
</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Lempinimi</th>
            <th>Lisäyspäivä</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan pokemonit tähän -->
        <tr>
            <td><a href="#">Pikachu</a></td>
            <td>Sähkörotta</td>
            <td>9.12.2014</td>
        </tr>
    </tbody>
</table>
{% endblock %}
