{% extends "base.html" %}
{% block content %}
<h1>Sähkörotta</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<p><strong>Pikachu</strong></p>
<ul>
    <li><strong>Level:</strong> 5</li>
    <li><strong>HP:</strong> 35</li>
    <li><strong>Attack:</strong> 55</li>
    <li><strong>Defense:</strong> 30</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    Sadistinen keltainen tuholainen, nauttii ihmisten sähköttämisestä.
</p>
{% endblock %}
