{% extends "base.html" %}
{% block content %}
<h1>{{pokemon.name}}</h1>
<!-- Painikkeet tähän -->
<p>
    <a href="#" class="btn btn-default">Lisää</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Tyyppi:</strong> {{pokemon.ptype}}</li>
    <li><strong>HP:</strong> {{pokemon.bhp}}</li>
    <li><strong>Attack:</strong> {{pokemon.battack}}</li>
    <li><strong>Defense:</strong> {{pokemon.bdefense}}</li>
    <li><strong>Special Attack:</strong> {{pokemon.bspattack}}</li>
    <li><strong>Special Defense:</strong> {{pokemon.bspdefense}}</li>
    <li><strong>Speed:</strong> {{pokemon.bspeed}}</li>
    {% if evolution_of_id %}
    <li>Kehittyy {{pokemon.evolution_of_id}}:sta</li>
    {% endif %}
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{pokemon.description}}
</p>
{% endblock %}

