{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi pokemon</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/pokemon">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
        <label>Aiempi evoluutio</label>
        <input type="text" name="evolution_of_id" class="form-control" value="{{attributes.evolution_of_id}}">
        <label>Tyyppi</label>
        <input type="text" name="ptype" class="form-control" value="{{attributes.ptype}}">
        <label>HP</label>
        <input type="text" name="bhp" class="form-control" value="{{attributes.bhp}}">
        <label>Attack</label>
        <input type="text" name="battack" class="form-control" value="{{attributes.battack}}">
        <label>Defense</label>
        <input type="text" name="bdefense" class="form-control" value="{{attributes.bdefense}}">
        <label>Special Attack</label>
        <input type="text" name="bspattack" class="form-control" value="{{attributes.bspattack}}">
        <label>Special Defense</label>
        <input type="text" name="bspdefense" class="form-control" value="{{attributes.bspdefense}}">
        <label>Speed</label>
        <input type="text" name="bspeed" class="form-control" value="{{attributes.bspeed}}">
        <label>Kuvaus</label>
        <input type="text" name="description" class="form-control" value="{{attributes.description}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}
