{% extends "base.html" %}
{% block content %}
<h1>Pokemon lista <a href="{{base_path}}/pokemon/new" class="btn btn-success">Lisää pokemon tietokantaan</a></h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tyyppi</th>
        </tr>
    </thead>

    <tbody>
        {% for pokemon in pokemons %}
        <tr>
            <td><a href="{{base_path}}/pokemon/{{pokemon.id}}">{{pokemon.name}}</a></td>
             <td>{{pokemon.ptype}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
