{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{pokemon.name}}
<!-- Painikkeet tähän -->
<a href="#" class="btn btn-default">Lisää</a>
{{forms.edit_button("#{base_path}/pokemon/#{pokemon.id}/edit")}}
{{forms.destroy_button("#{base_path}/pokemon/#{pokemon.id}/destroy")}}
</h1>
<!-- Tiedot tulee listana tähän -->
<p><strong>Ominaisuudet:</strong></p>
<ul>
    <li><strong>Tyyppi:</strong> {{pokemon.ptype}}</li>
    <li><strong>HP:</strong> {{pokemon.bhp}}</li>
    <li><strong>Attack:</strong> {{pokemon.battack}}</li>
    <li><strong>Defense:</strong> {{pokemon.bdefense}}</li>
    <li><strong>Special Attack:</strong> {{pokemon.bspattack}}</li>
    <li><strong>Special Defense:</strong> {{pokemon.bspdefense}}</li>
    <li><strong>Speed:</strong> {{pokemon.bspeed}}</li>
    {% if evolution_of_id %}
    <li>Kehittyy {{pokemon.evolution_of_id}}:sta</li>
    {% endif %}
</ul>
<!-- Kuvaus tulee tähän -->
<p> <strong>Kuvaus:</strong> </p>
<p>
    {{pokemon.description}}
</p>
{% endblock %}

